#title-top{
    background-color: rgba(132, 56, 32, 0.8);
    display:flex;
    
}

#title-top.menu-line{
  background-color: rgba(245, 230, 230, 0.7);
}

.text-top-description{
    background-image: url(../../src/assets/graficocresc.jpg);
    color: white;
    padding: 30px;
}

#title-p{
    display:block;
    padding: 30px;
}

.menu-toggle{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: block;
  
}

.menu-line {
  display: flex;
  width: 10px;
  height: 2px;
  background-color: black;
  margin: 2px 0;

}